{% extends 'base.html.twig' %}

{% block body %}
    <div class="ui card">
        <div class="content">
            <div class="left floated">servis-kamen.ru</div>
        </div>
        <div class="image">
            <img src="https://www.servis-kamen.ru/custom/my/img/logo.png">

        </div>
        <div class="content">
            <i class="inbox icon"></i>
            3 comments
        </div>
        <div class="extra content">
            <div class="ui large transparent left icon ">
                <i class="eye outline icon"></i>
                <a href="{{ path('show') }}">Show items</a>
            </div>
        </div>
    </div>
{% endblock %}
